<frameset rows="45,*" framespacing="0" border="0">
  <frame cols="45" src="__MODULE__/Index/topFrame" id="topFrame" name="topFrame" frameborder="no" scrolling="no" noresize="noresize">
  <frameset cols="190,*" id="Frame_body" name="Frame_body" framespacing="0" border="0">
    <frame cols="190" src="__MODULE__/Index/menuFrame" id="menuFrame" name="menuFrame" frameborder="no" noresize="noresize">
    <frame src="__MODULE__/Index/mainFrame" id="mainFrame" name="mainFrame" frameborder="no" noresize="noresize">
  </frameset>
</frameset>
<noframes>浏览器版本过低</noframes>